@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

#toolbar {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  opacity: 50%;
  color: white;
  margin: 5px;
  padding: 0px;
}
